.titleServisesProjects {
  margin-top: 100px;
  margin-left: 4px;
}
.tableServises {
  margin-top: 20px;
}

.TableInput {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* ------------------------------------------------------------------------------------ */

.FirstDivForArrServ {
  display: block;
  flex-direction: column;
  flex: none
  
}
.SecDivForArrServ {
  font-size: 18px;
  flex: none
}
h3 {
  font-size: 18px;
}